<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<script src="js/jquery-3.2.1.min.js"></script>
		<!-- UIkit CSS -->
    <link rel="stylesheet" href="css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="js/uikit.min.js"></script>

    <link rel="stylesheet" href="css/font-awesome.min.css">

    <link href="./css/dashboard.css" rel="stylesheet" />
    <link href="./css/register.css" rel="stylesheet" />
    <script src="js/uikit-icons.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" type="feather-icons" href="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.js"> -->
</head>
<body style="height: vh;">
	
	<a href="index.html">
		<div class="header" style="width: 100%; z-index: 980;" uk-sticky="">
	        <h1 class="uk-heading-divider"></h1>
	        <h1 class="uk-heading-line uk-text-center"><span>Department Information System</span></h1>
	        <h1 class="uk-heading-divider"></h1>
	    </div>
	</a>

	<div class="page" style="padding: 0px; margin: 0px; height: -webkit-fill-available; background-color: #edf2fa;">
		<div class="container" style="padding: 0px; margin: 0px; height: -webkit-fill-available;">
			<div class="row" style="height: -webkit-fill-available; width: 100%;padding: 0px; margin: 0px;">
				<div class="col-sm-4 col-md-3 col-lg-2"
					style="padding: 10px; margin-top: 0px; background-color: #b3d9ff; height: 100vh;">
					<div class="col-lg order-lg-first">
						<ul class="nav nav-tabs">
							<li class="nav-item">
								<a href="./facultyHome.html" class="nav-link"><i class="fe fe-home"></i> Home</a>
							</li>
							<li class="nav-item">
								<a href="facultyAddExam.html" class="nav-link"><i class="fe fe-plus"></i> Add Exam</a>
							</li>
							<li class="nav-item">
								<a href="facultyAddCo.html" class="nav-link active"><i class="fe fe-plus"></i> Add CO</a>
							</li>
							<li class="nav-item">
								<a href="facultyAddMarks.html" class="nav-link"><i class="fe fe-plus"></i> Add Marks</a>
							</li>
							<li class="nav-item">
								<a href="facultyVeiwStats.html" class="nav-link"><i class="fe fe-check-circle"></i> View Statistics</a>
							</li>
							<!-- <li class="nav-item">
								<a href="facultyLeaveRequests.jsp" class="nav-link"><i class="fe fe-check-circle"></i>
									Your Leaves</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link"><i class="fe fe-file"></i> View Report</a>
							</li> -->
							<li class="nav-item">
								<a href="facultyEditProfile.html" class="nav-link"><i class="fe fe-user"></i> Edit
									Profile</a>
							</li>

							<li class="nav-item">
								<a href="facultyChangePassword.html" class="nav-link"><i class="fe fe-lock"></i> Change
									Password</a>
							</li>
							<li class="nav-item">
								<a href="login.html" class="nav-link"><i class="fe fe-minus"></i> Logout</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm col-md col-lg" style="margin: 0px; padding: 0px; width: 100%; height: max-content;">


				</div>

				<div class="col-sm-8 col-md-9 col-lg-10" style="margin-top: 12vh; padding: 0px; width: 100%;">
					<div class="page">
						<div class="page-single" style="width: 100%;">
							<div class="container">
								<div class="row">
									<div class="col col-login mx-auto">
										<form class="card" action="" method="post" name="facultyApplyLeave">
											<div class="card-body p-6">
												<div class="card-title">
													<center>Add Course Outcome</center>
												</div>
												<!-- <div class="form-group">
													<label class="form-label">Type of Leave</label>
													<select class="form-control custom-select" id="roleSelect">
														<option value="Casual Leave">Casual Leave</option>
														<option value="Special Casual Leave">Special Casual Leave
														</option>
														<option value="HalfPay Leave">Half Pay Leave</option>
														<option value="Earned Leave">Earned Leave</option>
														<option value="Medical Leave">Medical Leave</option>
													</select>
												</div> -->
<!-- 												<div class="form-group">
													<label class="form-label">Exam Category</label>
													<select class="form-control custom-select">
														<option value="" disabled="" selected="">Select Exam Category</option>
														<option value="">ESE - End Sem Examination</option>
														<option value="">PA(M) - Progressive Assessment (Theory)</option>
														<option value="">PA(I) - Progressive Assessment (Internal)</option>
														<option value="">ESE(V)-PR - Practical</option>
													</select>
												</div>
 -->
												<div class="form-group">
													<label class="form-label">Subject</label>
													<select class="form-control custom-select">
														<option value="" disabled="" selected="">Select Subject</option>
														<option value="">Subject 1</option>
														<option value="">Subject 2</option>
														<option value="">Subject 3</option>
														<option value="">Subject 4</option>
													</select>
												</div>

												<div class="form-group">
													<label class="form-label">No of CO</label>
													<div class="selectgroup w-100">
														<label class="selectgroup-item">
															<input type="radio" name="noCo" id="noCo" value="1" class="selectgroup-input">
															<span class="selectgroup-button">I</span>
														</label>
														<label class="selectgroup-item">
															<input type="radio" name="noCo" id="noCo" value="2" class="selectgroup-input">
															<span class="selectgroup-button">II</span>
														</label>
														<label class="selectgroup-item">
															<input type="radio" name="noCo" id="noCo" value="3" class="selectgroup-input">
															<span class="selectgroup-button">III</span>
														</label>
														<label class="selectgroup-item">
															<input type="radio" name="noCo" id="noCo" value="4" class="selectgroup-input">
															<span class="selectgroup-button">IV</span>
														</label>
														<label class="selectgroup-item">
															<input type="radio" name="noCo" id="noCo" value="5" class="selectgroup-input">
															<span class="selectgroup-button">V</span>
														</label>
														<label class="selectgroup-item">
															<input type="radio" name="noCo" id="noCo" value="6" class="selectgroup-input">
															<span class="selectgroup-button">VI</span>
														</label>
													</div>
												</div>

												<!-- <div class="form-group">
													<label class="form-label">No of CO</label>
													<select class="form-control custom-select" id="noCo">
														<option value="" disabled="" selected="">Select No of CO</option>
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
														<option value="6">6</option>
													</select>
												</div> -->
												
												<div class="form-group" name="co1" id="co1" style="display: none;">
													<label class="form-label">CO Statement</label>
													<textarea type="coStatement" class="form-control" id="coStatement1"
														name="coStatement1" aria-describedby="coStatement"
														placeholder="Enter CO Statement"></textarea>
												</div>
												<div class="form-group" name="co2" id="co2" style="display: none;">
													<label class="form-label">CO Statement</label>
													<textarea type="coStatement" class="form-control" id="coStatement2"
														name="coStatement2" aria-describedby="coStatement"
														placeholder="Enter CO Statement"></textarea>
												</div>
												<div class="form-group" name="co3" id="co3" style="display: none;">
													<label class="form-label">CO Statement</label>
													<textarea type="coStatement" class="form-control" id="coStatement3"
														name="coStatement3" aria-describedby="coStatement"
														placeholder="Enter CO Statement"></textarea>
												</div>
												<div class="form-group" name="co4" id="co4" style="display: none;">
													<label class="form-label">CO Statement</label>
													<textarea type="coStatement" class="form-control" id="coStatement4"
														name="coStatement4" aria-describedby="coStatement"
														placeholder="Enter CO Statement"></textarea>
												</div>
												<div class="form-group" name="co5" id="co5" style="display: none;">
													<label class="form-label">CO Statement</label>
													<textarea type="coStatement" class="form-control" id="coStatement5"
														name="coStatement5" aria-describedby="coStatement"
														placeholder="Enter CO Statement"></textarea>
												</div>
												<div class="form-group" name="co6" id="co6" style="display: none;">
													<label class="form-label">CO Statement</label>
													<textarea type="coStatement" class="form-control" id="coStatement6"
														name="coStatement6" aria-describedby="coStatement"
														placeholder="Enter CO Statement"></textarea>
												</div>

												
												<!-- <div class="form-group">
													<label class="form-label">Exam Date</label>
													<div class="col-sm" style="padding: 0px;">
														<div class="row gutters-xs">
															<div class="col-5">
																<select name="leaveFromMonth"
																	class="form-control custom-select" onchange="date_check(); return false;">
																	<option value="">Month</option>
																	<option value="1">January</option>
																	<option value="2">February</option>
																	<option value="3">March</option>
																	<option value="4">April</option>
																	<option value="5">May</option>
																	<option selected="selected" value="6">June</option>
																	<option value="7">July</option>
																	<option value="8">August</option>
																	<option value="9">September</option>
																	<option value="10">October</option>
																	<option value="11">November</option>
																	<option value="12">December</option>
																</select>
															</div>
															<div class="col-3">
																<select name="leaveFromDay"
																	class="form-control custom-select" onchange="date_check(); return false;">
																	<option value="">Day</option>
																	<option value="1">1</option>
																	<option value="2">2</option>
																	<option value="3">3</option>
																	<option value="4">4</option>
																	<option value="5">5</option>
																	<option value="6">6</option>
																	<option value="7">7</option>
																	<option value="8">8</option>
																	<option value="9">9</option>
																	<option value="10">10</option>
																	<option value="11">11</option>
																	<option value="12">12</option>
																	<option value="13">13</option>
																	<option value="14">14</option>
																	<option value="15">15</option>
																	<option value="16">16</option>
																	<option value="17">17</option>
																	<option value="18">18</option>
																	<option value="19">19</option>
																	<option selected="selected" value="20">20</option>
																	<option value="21">21</option>
																	<option value="22">22</option>
																	<option value="23">23</option>
																	<option value="24">24</option>
																	<option value="25">25</option>
																	<option value="26">26</option>
																	<option value="27">27</option>
																	<option value="28">28</option>
																	<option value="29">29</option>
																	<option value="30">30</option>
																	<option value="31">31</option>
																</select>
															</div>
															<div class="col-4">
																<select name="leaveFromYear"
																	class="form-control custom-select" onchange="date_check(); return false;">
																	<option value="">Year</option>
																	<option value="2028">2028</option>
																	<option value="2027">2027</option>
																	<option value="2026">2026</option>
																	<option value="2025">2025</option>
																	<option value="2024">2024</option>
																	<option value="2023">2023</option>
																	<option value="2022">2022</option>
																	<option value="2021">2021</option>
																	<option value="2020">2020</option>
																	<option value="2019" selected="selected">2019
																	</option>
																	<option value="2018">2018</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												
												<div class="form-group">
				                                    <label class="form-label">Batch Year</label>
				                                    <select class="form-control custom-select">
				                                        <option value="" disabled="" selected="">Select Batch</option>
				                                        <option value="2019">2019</option>
				                                        <option value="2018">2018</option>
				                                        <option value="2017">2017</option>
				                                        <option value="2016">2016</option>
				                                    </select>
				                                </div>

				                                <div class="form-group">
													<label class="form-label">Maximum Marks</label>
													<input type="text" class="form-control" name="examMaxMarks" id="examMaxMarks"
													pattern="[0-9]{3}"
														placeholder="Maximum Marks">
												</div>

												<div class="form-group">
													<label class="form-label">Maximum Weighted Marks</label>
													<input type="text" class="form-control" name="examMaxWeiMarks" id="examMaxWeiMarks"
													pattern="[0-9]{3}"
														placeholder="Maximum Weighted Marks">
												</div>
 -->
<!-- 												<div class="form-group col-sm" style="padding: 0px;">
													<div class="form-label">Upload Proof Document</div>
													<div class="custom-file">
														<input type="file" class="custom-file-input"
															name="example-file-input-custom"
															pattern="/^(([a-zA-Z]:)|(\\{2}\w+)\$?)(\\(\w[\w].*))+(.jpeg|.JPEG|.gif|.GIF|.png|.PNG|.JPG|.jpg|.bitmap|.BITMAP|.pdf|.PDF)$/">
														<label class="custom-file-label">Choose file</label>
													</div>
												</div>
 -->
<!-- 												<div class="form-group">
													<label class="form-label">Leave Application to:</label>
													<select class="form-control custom-select" id="applyTo"
														name="applyTo">
														<%
														Connect con=null;
														ResultSet rs=null;
														ResultSetMetaData mtdt=null;
														con=new Connect();
														String Uname = (String)session.getAttribute("facultyUsername");
														
														ResultSet rs2 = con.SelectData("select * from faculty_master where facultyEmail = '"+ Uname +"'");														
														int branchID= 1;
														if(rs2.next()){
															branchID=rs2.getInt("facultyBranch");
														}
														
														rs=con.SelectData("select hodID,hodName from hod_master where isApprovedHod='yes' and hodBranch = "+ branchID +";");
 														mtdt=rs.getMetaData();
														while(rs.next())
														{
															int ID = rs.getInt("hodID");
													%>
														<option value="<%= ID%>"><%= rs.getString("hodName")%></option>
														<%
														}
														con.CloseConnection();
													%>
													</select>
												</div>
 -->
												<div class="form-footer">
													<button type="submit" class="btn btn-primary btn-block"
														id="submitLink" value="submit"
														name="facultyApplyLeave">Submit</button>
												</div>
											</div>
<!-- 											<%
												try {
												Uname = (String)session.getAttribute("facultyUsername");
												
												rs2 = con.SelectData("select * from faculty_master where facultyEmail = '"+ Uname +"'");
												int appID = 1;
												if(rs2.next()){
													out.println(rs2.getInt("facultyID"));
													appID = rs2.getInt("facultyID");
												}
											
												if (request.getParameter("facultyApplyLeave") != null) {
												
												if (con.Ins_Upd_Del("insert into leave_record(appID,appRole,leaveReason,leaveFrom,leaveTo,leaveApproved,apptoID,apptoRole) VALUES("+appID+",'faculty','"+request.getParameter("facultyReason")+"','"+request.getParameter("leaveFromYear")+"-"+request.getParameter("leaveFromMonth")+"-"+request.getParameter("leaveFromDay")+"','"+request.getParameter("leaveToYear")+"-"+request.getParameter("leaveToMonth")+"-"+request.getParameter("leaveToDay")+"','no',"+request.getParameter("applyTo")+",'hod');"))
												out.println("<script>alert('Record inserted......');</script>");
												else
												out.println("<script>alert('Record was not inserted......');</script>");
												
												}
												} catch (Exception e) {
												//out.println(e);
												}
												%>
 -->										</form>
									</div>
								</div>
				<!-- 			</div>
							</div>
						</div>
					</div>

				</div> -->
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function () {
			$('input[type="radio"]').click(function () {
				if ($(this).attr('id') == 'noCo' && $(this).attr('value') == '1') {
					$('#co1').show();
					$('#co2').hide();
					$('#co3').hide();
					$('#co4').hide();
					$('#co5').hide();
					$('#co6').hide();
				}
				else if ($(this).attr('id') == 'noCo' && $(this).attr('value') == '2') {
					$('#co1').show();
					$('#co2').show();
					$('#co3').hide();
					$('#co4').hide();
					$('#co5').hide();
					$('#co6').hide();
				}
				else if ($(this).attr('id') == 'noCo' && $(this).attr('value') == '3') {
					$('#co1').show();
					$('#co2').show();
					$('#co3').show();
					$('#co4').hide();
					$('#co5').hide();
					$('#co6').hide();
				}
				else if ($(this).attr('id') == 'noCo' && $(this).attr('value') == '4') {
					$('#co1').show();
					$('#co2').show();
					$('#co3').show();
					$('#co4').show();
					$('#co5').hide();
					$('#co6').hide();
				}
				else if ($(this).attr('id') == 'noCo' && $(this).attr('value') == '5') {
					$('#co1').show();
					$('#co2').show();
					$('#co3').show();
					$('#co4').show();
					$('#co5').show();
					$('#co6').hide();
				}
				else if ($(this).attr('id') == 'noCo' && $(this).attr('value') == '6') {
					$('#co1').show();
					$('#co2').show();
					$('#co3').show();
					$('#co4').show();
					$('#co5').show();
					$('#co6').show();
				}
				else { }
			});
		});
	</script>

</body>

</html>
